.create-category-container {
    display: flex;
    justify-content: center;
    padding-top: 25vh;
}

.create-text {
    margin-right: 30px;
}

.category-input {
    width: 220px;
    margin-right: 10px;
}

.submit {
    width: 60px;
}