.header {
  position: absolute;
  width: 100vw;
}

ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  text-decoration: none;
  color: black;
}

.nav-bottom-border {
  height: 5px;
  width: 100%;
  /* background: rgb(0,0,0);
  background: -moz-linear-gradient(0deg, rgba(0,0,0,1) 8%, rgba(255,255,255,1) 99%, rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(0,0,0,1) 8%, rgba(255,255,255,1) 99%, rgba(255,255,255,1) 100%);
  background: linear-gradient(0deg, rgba(0,0,0,1) 8%, rgba(255,255,255,1) 99%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1);
 */}