.available{
    color: rgb(50, 157, 50);
}
.unavailable{
    color: red;
}

.signup-main {
    background:
    linear-gradient(red, transparent),
    linear-gradient(to top left, lime, transparent),
    linear-gradient(to top right, blue, transparent);
    background-blend-mode: screen;
    height: 100vh;
}

.form-backplate {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    border-radius: 10px;
    width: 20vw;
    height: 40vh;
    padding: 25px;
    background-color: rgb(255, 255, 255);
    opacity: 34%;
}

.sign-up-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    padding: 25px;
    border: 1px solid black;
    border-radius: 10px;
    gap: 7px;
    width: 20vw;
    height: 40vh;
}

.signup-title {
    margin-top: -10px;
    margin-bottom: 10px;
    text-align: center;
}

.login-q-backplate {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    text-align: center;
    width: 20vw;
    border: 1px solid black;
    padding: 25px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    opacity: 34%;
    height: 2.5vh;
}

.login-q {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    text-align: center;
    width: 20vw;
    border: 1px solid black;
    padding: 25px;
    border-radius: 10px;
    height: 2.5vh;
    align-items: center;
}

.login-link {
    text-decoration: none;
}

.form-input-field {
    display: flex;
    flex-direction: column;
    align-items: center
}

.input-label {
    text-align: left;
    width: 100%;
}

.form-input {
    border: 1px solid black;
    border-radius: 4px;
    width: 100%;
}

.signup-btn {
    width: 80px;
    margin-top: 20px;
}