#getFile{
    display: none;
}

#front-cover-upload, #back-cover-upload{
    display: none;
}
.a-plus-image{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.a-plus-btn{

}

.a-plus-image img{
    width: 25%;
    min-width: 25%;
    height: auto;
    margin-right: 1vw;
    margin-top: 1vw;
}

.product-image-container img{
   width: 23%;
   height: auto;
   margin-left: 3px;
}





                                    /* PDF-upload-main is the START */

.PDF-upload-main {
    display: flex;
    justify-content: center;
    /* position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%); */
}

.upload-form {
    display: flex;
    justify-content: center;
    margin: 22px;
    border-radius: 10px;
    background-color: rgb(204, 204, 204);
}

.upload-cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 250px;
    width: 300px;
    border-radius: 10px;
    background-color: rgb(204, 204, 204);
}

.upload-book {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 250px;
    width: 300px;
    border-radius: 10px;
    background-color: rgb(204, 204, 204);
}

.step-header{
    font-size: 25px; 
    
}



.pdf-choose-file-btn {
    margin-top: 30px;
    width: 100%;
    margin-right: -120px;
}

.options-container {
    margin-top: 20px;
}